<div class="flex flex-row p-4">
  <h1
    class="float-left text-2xl font-bold uppercase text-black drop-shadow md:text-4xl"
  >
    LO/GO
  </h1>

  <div
    class="flex w-full flex-row justify-center p-4 text-2xl font-bold uppercase text-black drop-shadow md:text-4xl"
  >
    <div class="flex flex-row gap-4 text-xl">
      <a routerLink="/home"><h1 class="">Home</h1></a>
      <a routerLink="/journeys"><h1>Journeys</h1> </a>
      <a routerLink="/stations"><h1>Stations</h1> </a>
    </div>
  </div>
</div>
