<div class="text-xs">
  <table class="mx-auto table-auto border border-black">
    <tr class="border-b border-b-black bg-slate-400 font-bold">
      <td>Departure Station</td>
      <td>Return Station</td>
      <td>Distance</td>
      <td>Duration</td>
    </tr>
    <tr *ngFor="let journey of journeys" class="border-b border-b-black">
      <td>{{ journey.departure_station_name }}</td>
      <td>{{ journey.return_station_name }}</td>
      <td>{{ journey.covered_distance / 1000 }} km</td>
      <td>{{ journey.duration / 60 | number : "1.1-1" }} min</td>
    </tr>
  </table>
</div>
