<div class="text-xs">
  <table class="mx-auto table-auto border border-black">
    <tr class="border-b border-b-black bg-slate-400 font-bold">
      <td>Departure</td>
      <td>Return</td>
      <td>Departure Station</td>
      <td>Return Station</td>
      <td>Distance</td>
      <td>Duration</td>
    </tr>
    <tr *ngFor="let journey of journeys" class="border-b border-b-black">
      <td>
        {{ journey.departure | stringToDate }}
      </td>
      <td>{{ journey.return | stringToDate }}</td>
      <td>{{ journey.departure_station_name }}</td>
      <td>{{ journey.return_station_name }}</td>
      <td>{{ journey.covered_distance / 1000 | number : "1.1-2" }} km</td>
      <td>{{ convertSecondsToMinutes(journey.duration) }}</td>
    </tr>
  </table>
</div>
