  <div class="h-screen">
    <div class="flex flex-col md:w-3/4text-xs justify-center mx-auto pt-10 p-1">
      <div class="max-w-sm mx-auto border border-black lg:max-w-2xl xl:max-w-4xl overflow-hidden rounded-lg block">
        <img src="assets/images/kaupunkipyörä.jpeg" alt="image of city bikes" />
      </div>
      <div>
        <p class="p-4 md:text-base text-center lg:text-2xl xl:text-4xl">
            With this webapp you can find a list of Helsinki City Bike stations
            located in Helsinki and Espoo. There is also a list of all journeys completed during the summer of 2021.
        </p>
      </div>
      </div>
    </div>
